<% if flash[:alert] %>
    <div class="alert alert-warning mt-4 role-alert">
        <%= flash[:alert].inspect %>
    </div>
<%end%>
<%if flash[:danger]%>
    <div class="alert alert-danger mt-4 role-alert">
    <%=flash[:alert].inspect%>
    </div>
<%end%>